
<ion-content> 
  
<ion-header>


  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div style="text-align:center">Creditos </div>
     
     </ion-toolbar>
    <div style="text-align: center"> <img src="https://scontent.fsdu29-1.fna.fbcdn.net/v/t1.18169-9/13255951_1040461492690806_5861535682659076662_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeHySKIW1rDWPOVXe-9SF07CgVEblZOMXWWBURuVk4xdZXLviPgHjB9zBruB-cFiEa1Prfq-QKSdRAL11gc-Fzyz&_nc_ohc=sEARostrkLkAX9ZaYfC&_nc_ht=scontent.fsdu29-1.fna&oh=560b99ee5fbead0250b6c5c95e2d8da3&oe=60DFA3E3" alt="some text" width=300 height=300></div>
    <p style="text-align: center">Rafael Lins Ferreira</p>

    <p> </p>
    <p> </p>

    <p style="text-align: center">API : https://developers.themoviedb.org/3/getting-started/introduction</p>
</ion-header>



</ion-content>
